body{
  background-color:#F2D492
}
h2{
  color:white;
  font-size:400%;
  letter-spacing:6px;
  text-decoration:underline
}
p{
  color:white;
  font-size:200%;
  letter-spacing:
}
img{
  border:dashed white 4px;
  height:50%;
  width:50%;
}
ul{
  list-style-type: none;
  text-align: center;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 50px;
  font-family: "Didot", Fantasy;
  color: white;
  text-decoration-line: none;
}
li a:hover{
  background-color: white;
  color:tan;
}
